<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <form action="/change_user_settings/<%=current_employee.id %>/update" method="post" name="passwordchange">
        <input type="hidden" name="authenticity_token" value="jFVwM+8epIVLpsI8/eHbzVjGWDdAcNcv8vFRPozLYwjH2aDGE1m2sefnVYSEwvXtdu9yESRt7Y792VR8uesarA==">
        <div class="form-group col-md-12 col-sm-6">
          <label for="current_password">Current password</label>
          <br> 
          <input autocomplete="off" class="form-control input-sm" placeholder="currentpassword" type="password" name="passwordchange[currentPassword]" id="registeremp_password">
        </div>
        <div class="form-group col-md-12 col-sm-6">
          <label for="registeremp_password">Password</label>
          <br> 
          <input autocomplete="off" class="form-control input-sm passwordEntered" placeholder="password" type="password" name="passwordchange[password]" id="registeremp_password" data-validation=" required length" data-validation-length="min">
        </div>
        <div class="form-group col-md-12 col-sm-6">
          <label for="registeremp_password_confirmation">password confirmation</label>
          <input autocomplete="off" class="form-control input-sm passwordConf" placeholder="password confirmation" type="password" name="passwordchange[password_confirmation]" id="registeremp_password_confirmation" data-validation=" required length" data-validation-length="min8">
          <span class="confirmPswErr" style="display:none;color: #a94442">password doesn't match</span>
        </div>
        <div class="form-group col-md-6 col-md-push-4 col-sm-6">
          <button type ="submit" class="btn btn-success changpswbtn">confirm</button>
          <button  type="reset" value="Reset" class="btn btn-default clear_data"/>clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $.validate();
    $('.clear_data').click(function(){
     $('input[type="text"]').val('');
   });
    $('.passwordConf').blur(function(){
    if($('.passwordConf').val()!="" && $('.passwordEntered').val()!=""){
      if($('.passwordConf').val() == $('.passwordEntered').val())
      {
         $('.confirmPswErr').hide()
        return true
      }
        else{
         $('.confirmPswErr').show()
        }
      }
    })
  });
</script>