<div class="container">
	<div class="row">
		<h4>Hello <%= @resource.email %>!</h4>
		Please click the bellow link to reset your password 
		<br />
		<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>

		<p>ignore this mail if u are not requested</p>
	</div>
</div>



