<%= @attendances.inspect %>
<%= @leaves.inspect %>

<div class="container">
	<div class="row">
	<p> select Month </p>
		<div class="col-md-12">
			<div class="col-md-6">
				<table>
					<thead>
						<th>Date</th>
						<th>Login Time</th>
						<th>Logout Time</th>
						<th>hours Clocked</th>
					</thead>
				</table>
			</div>
		</div>
	</div>